{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": { "ie": "8" }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-member-expression-literals"]
}
