{
  "env": {
    "worker": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "fit": true,
    "expect": true,
    "browser": true,
    "$": true,
    "$$": true,
    "fail": true,
    "beforeAll": true,
    "afterAll": true,
    "afterEach": true
  }
}
